In [13]:
import boto3
import pandas as pd
import psycopg2
import os
from dotenv import load_dotenv

In [2]:
bucket_name = "kayak-final-projet"  # Remplace avec ton bucket S3
file_name = "geolocalisation.csv"  # Le fichier local
s3_key = file_name # Chemin dans S3 (optionnel)

In [14]:
# Charger les variables du fichier .env
load_dotenv()

# Récupérer les valeurs des variables
aws_access_key = os.getenv("AWS_ACCESS_KEY_ID")
aws_secret_key = os.getenv("AWS_SECRET_ACCESS_KEY")
aws_region = os.getenv("AWS_DEFAULT_REGION")

# Initialiser le client Boto3 avec les credentials
s3_client = boto3.client(
    "s3",
    aws_access_key_id=aws_access_key,
    aws_secret_access_key=aws_secret_key,
    region_name=aws_region
)

In [33]:
print("AWS_ACCESS_KEY_ID:", os.getenv("AWS_ACCESS_KEY_ID"))
print("AWS_SECRET_ACCESS_KEY:", os.getenv("AWS_SECRET_ACCESS_KEY"))

AWS_ACCESS_KEY_ID: AKIATCKAN5FEEHZPWB46
AWS_SECRET_ACCESS_KEY: 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

In [15]:
s3_client = boto3.client("s3")
try:
    response = s3_client.list_buckets()
    print("Buckets disponibles :", [bucket["Name"] for bucket in response["Buckets"]])
except Exception as e:
    print("Erreur :", e)

Buckets disponibles : ['kayak-final-projet']

In [16]:
# Vérifier l'accès à S3
buckets = s3_client.list_buckets()
for bucket in buckets["Buckets"]:
    print(bucket["Name"])

kayak-final-projet

In [38]:
def create_table():
    try:
        conn = psycopg2.connect(
            host="ep-cold-cake-a2wb8s4t-pooler.eu-central-1.aws.neon.tech",
            user="neondb_owner",
            password="vRUyZpx1q3kT",
            database="neondb",
            sslmode="require"
        )
        cur = conn.cursor()

        cur.execute("""
            CREATE TABLE IF NOT EXISTS villes (
                id SERIAL PRIMARY KEY,
                ville TEXT NOT NULL,
                longitude FLOAT NOT NULL,
                latitude FLOAT NOT NULL
            )
        """)

        conn.commit()
        cur.close()
        conn.close()
        print("Table créée avec succès !")

    except Exception as e:
        print(f"Erreur lors de la création de la table : {e}")

create_table()

Table créée avec succès !

In [26]:
obj = s3_client.get_object(Bucket=bucket_name, Key=s3_key)
print(obj)
df = pd.read_csv(obj['Body'], sep=';')

{'ResponseMetadata': {'RequestId': 'KNGD3YW1PYCBTAQJ', 'HostId': 'IRpzxlADeJ1yBHCgwOErY/nLMSUZjH/cPw99cMQbwQACcn3qpxPM2XZlKWQZPDib5fiw8Q8YwIg=', 'HTTPStatusCode': 200, 'HTTPHeaders': {'x-amz-id-2': 'IRpzxlADeJ1yBHCgwOErY/nLMSUZjH/cPw99cMQbwQACcn3qpxPM2XZlKWQZPDib5fiw8Q8YwIg=', 'x-amz-request-id': 'KNGD3YW1PYCBTAQJ', 'date': 'Sun, 16 Feb 2025 20:01:51 GMT', 'last-modified': 'Sun, 16 Feb 2025 16:43:50 GMT', 'etag': '"e3dfffe2d3592bb29a27fdf9920f42c9"', 'x-amz-checksum-crc32': 'ceMoUg==', 'x-amz-checksum-type': 'FULL_OBJECT', 'x-amz-server-side-encryption': 'AES256', 'accept-ranges': 'bytes', 'content-type': 'binary/octet-stream', 'content-length': '1214', 'server': 'AmazonS3'}, 'ChecksumAlgorithm': 'crc32', 'RetryAttempts': 0}, 'AcceptRanges': 'bytes', 'LastModified': datetime.datetime(2025, 2, 16, 16, 43, 50, tzinfo=tzutc()), 'ContentLength': 1214, 'ETag': '"e3dfffe2d3592bb29a27fdf9920f42c9"', 'ChecksumCRC32': 'ceMoUg==', 'ChecksumType': 'FULL_OBJECT', 'ContentType': 'binary/octet-stream', 'ServerSideEncryption': 'AES256', 'Metadata': {}, 'Body': <botocore.httpchecksum.StreamingChecksumBody object at 0x000001A64B295930>}

In [25]:
obj['Body']

In [27]:
df.head()

             adresse  longitude   latitude
0  Mont Saint Michel  -1.511460  48.635954
1         Saint Malo  -2.026041  48.649518
2             Bayeux  -0.702474  49.276462
3           Le Havre   0.107973  49.493898
4              Rouen   1.093966  49.440459

In [35]:
def lambda_handler(bucket, key):
    
    # Télécharger le fichier depuis S3
    obj = s3_client.get_object(Bucket=bucket, Key=key)
    df = pd.read_csv(obj['Body'], sep=';')

    # Connexion à la base RDS
    conn = psycopg2.connect(
        host="ep-cold-cake-a2wb8s4t-pooler.eu-central-1.aws.neon.tech",
        user="neondb_owner",
        password="vRUyZpx1q3kT",
        database="neondb",
        sslmode="require"
    )

    with conn.cursor() as cursor:
        for index, row in df.iterrows():
            cursor.execute("INSERT INTO villes (adresse, longitude, latitude) VALUES (%s, %s, %s)", (row['adresse'], row['longitude'], row['latitude']))
        
    conn.commit()
    conn.close()

In [36]:
lambda_handler(bucket_name, s3_key)

UndefinedTable: relation "villes" does not exist
LINE 1: INSERT INTO villes (adresse, longitude, latitude) VALUES ('M...
                    ^

In [39]:



# Connexion à PostgreSQL
try:
    # Connexion à la base RDS
    conn = psycopg2.connect(
        host="ep-cold-cake-a2wb8s4t-pooler.eu-central-1.aws.neon.tech",
        user="neondb_owner",
        password="vRUyZpx1q3kT",
        database="neondb",
        sslmode="require"
    )
    cur = conn.cursor()

    # Insérer les données dans la base
    for index, row in df.iterrows():
        cur.execute(
            "INSERT INTO villes (ville, longitude, latitude) VALUES (%s, %s, %s)",
            (row['adresse'], float(row['longitude']), float(row['latitude']))
        )

    conn.commit()
    cur.close()
    conn.close()
    print("Données insérées avec succès depuis Pandas !")

except Exception as e:
    print(f"Erreur d'insertion : {e}")

Données insérées avec succès depuis Pandas !